#window {
  border: 3px solid #21242b;
  background-color: #282c34;
  color: #bbc2cf;
  font-size: 14px;
  font-family: "JetBrains Mono";
}

#outer-box {
  margin: 3px;
}

#input {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #bbc2cf;
  margin: 3px;
}

#input image:first-child {
  margin-left: -100px;
}

#input image:last-child {
  margin-right: -100px;
}

#input:focus {
  border-radius: 0;
}

#entry {
  text-transform: lowercase;
}

#entry:selected {
  background-color: #21242b;
  color: #282c34;
}

#img {
  margin-right: 5px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#text {
  margin-left: 3px;
  color: #bbc2cf;
}
